[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
ipykernel = "*"
requests = "*"
requests_html = "*"
tqdm = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
