[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
ipykernel = "*"
requests = "*"
"beautifulsoup4" = "*"
tqdm = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
